<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- The end-of-rest alert on time. Granted by default up to Android 13;
       from Android 14 the person can allow it (Notifications settings). -->
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

  <application>
    <receiver
      android:name="expo.modules.restcountdown.RestCountdownReceiver"
      android:exported="false" />
  </application>
</manifest>
